.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    animation: slide 10s linear infinite; /* 3 segundos de duração para cada imagem */
}

.carousel-images img {
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% { transform: translateX(0); } /* Começa do zero */
    100% { transform: translateX(-200%); } /* Move para a esquerda para mostrar a próxima imagem */
}
