/* Estilize o seu site aqui */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 50px 20px;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 768px) {
    header > h1 {
        font-size: 30px; /* Adjust the font size for smaller screens */
    }

    nav > button > a {
        font-size: 20px; /* Adjust the font size for navigation links */
        padding-right: 2em; /* Modify padding for smaller screens */
    }

    main > section#Design > aside > img,
    aside > ul > li > img {
        width: 150px; /* Reduce the image width for smaller screens */
    }
  }